*{
    box-sizing: border-box;
}

html{
    
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #151516;
    
    
}

.home{

    position: relative;
    background-image: url('pic/home.png');
    background-attachment: fixed;
    background-size:100% 140% ;
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    
}

.navbar{
    
    width: 90vw;
    margin: auto;
    background: linear-gradient(270deg, #498dfa40 0%, #cc54f40e 100%);
    border-radius: 16px;
    font-family: 'Archivo';
    font-weight: 700;
    padding-left:30px ;
    padding-right:30px ;
}

.navbar-nav{
    gap: 30px !important;
}

.nav-link:hover{
    color: #04CAF1 !important;
}

.homeheading{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 86px;
    text-align: center;
    padding-top: 50px;
    color: #FFFFFF;
    
}

.homedesc{
    width: 50%;
    margin: auto;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 148.3%;
    /* or 30px */
    text-align: center;
    
    color: #CACACA;
}

.homeoffer{
    background: linear-gradient(270deg, #498EFA 0%, #8346FE 50.52%, #CC54F4 100%);
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Archivo';
    color: #FFFFFF;
    overflow: hidden;
}

.blr1{
    position: absolute;
    left: 50px;
    top: -40px;
}

.blr2{
    position: absolute;
    left: 990px;
    
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.homeofferline1{
    font-weight: 700;
    font-size: 24px;    
    margin: 0%;
}

.homeofferline2{
    font-weight:500;
    font-size: 20px;
}

.homeofferButton{
    width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 14.5455px;
    color: #7E4CFE;
    background: #FFFFFF;
    border-radius: 7.27273px;
    border: 0;
}

.homeofferButton:hover{
    background: #ffffff;
    box-shadow: 0px 10px 29px rgba(0, 0, 0, 0.25);
}

/* Gradient colour definee */

.blugrd{
    background: linear-gradient(90deg, #04CAF1 61.59%, #6BFEBD 101.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.ip{
    background: linear-gradient(272.33deg, #31B3EC 1.07%, #4F54DE 96.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0%;
   
}

.gol{
    background: linear-gradient(272.33deg, #F1DC39 1.07%, #CC7609 96.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.comtxt{
    font-family: 'Archivo';
    font-style: normal;
    font-weight:400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #A1AFBD;
    margin: 0%;
}

.pink{
    background: linear-gradient(95.42deg, #B7A1F1 1.21%, #D965C1 52.52%, #EC3E47 96.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.green{
    background: linear-gradient(273.48deg, #3DD875 16.61%, #0EB3A0 87.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Gradient colour definee */


.container1{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    justify-content: center;
    align-items: center;

}

.section1{
    width: 50%;
}

.section2{
    width: 50%;
    padding-left: 50px;
}

.container1head{
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 64px;
    line-height: 111%;
    margin: 0;

}

.container1sub{
    margin: 0%;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 26.6667px;
    line-height: 148.3%;
    /* identical to box height, or 40px */
    color: #CCDAE7;
}

.linediv{
    width: 100vw;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(270deg, rgba(68, 68, 68, 0) 0%, #444444 48.44%, rgba(68, 68, 68, 0) 100%);
}

.lovee{
    text-align: center;
    margin: auto;
    width: 900px;
}

.service{
    width: 1070px;
    height: 405px;

    margin: auto;
    
    background: url(pic/sert.png), #D9D9D9;
    background-size: cover;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service2{
    width: 1070px;
    height: 405px;

    margin: auto;
    
    background: url(pic/offer.png), #D9D9D9;
    background-size: cover;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serv{
    width: 1070px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.seer{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}

.offers{
    margin: 0%;
    text-align: center;
    font-family: 'Archivo';
    text-align: center;

}

.ohed{
    margin: 0%;
    font-weight: 700;
    font-size: 96px;
}

.osubhed{
    margin: 0%;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.footer{
    position: relative;
    height: 270px;
    background-color:#0E0E0F ;
    text-align: center;
    padding: 50px;
    overflow: hidden;
    
}

.footerimg{
    width: 190px;
}

.footersm{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.ipst{
    position: absolute;
    width: 400px;
    height: auto;
    top: 0;
    left: 1000px;
    opacity: 20%;
}

@media (max-width:1000px){

    .home{

        position: relative;
        background-image: url('pic/home.png');
        background-attachment: fixed;
        background-size:200% 120% ;
        width: 100vw;
        height: 100vh;
        padding-top: 0px;
        
    }
    
    .navbar{
        
        width: 100vw;
        margin: auto;
        background: linear-gradient(270deg, #498dfa40 0%, #cc54f40e 100%);
        border-radius: 8px;
        font-family: 'Archivo';
        font-weight: 500;
        padding-left:30px ;
        padding-right:10px ;
    }
    
    .navbar-nav{
        gap: 0px;
        
    }

    .nav-link{
        margin: 0px !important;
        padding: 0% !important;
        gap: 0 !important;
    }
    
    .nav-link:hover{
        color: #04CAF1 !important;
    }
    
    .homeheading{
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        padding-top: 50px;
        color: #FFFFFF;
        
    }
    
    .homedesc{
        width: 60%;
        margin: auto;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        
        /* or 30px */
        text-align: center;
        
        color: #CACACA;
    }
    
    .homeoffer{
        background: linear-gradient(270deg, #498EFA 0%, #8346FE 50.52%, #CC54F4 100%);
        width: 100vw;
        height: 140px;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-family: 'Archivo';
        color: #FFFFFF;
        overflow: hidden;
    }
    
    .blr1{
        position: absolute;
        left: 50px;
        top: -40px;
    }
    
    .blr2{
        position: absolute;
        left: 290px;
        
    }
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    
    .homeofferline1{
        font-weight: 700;
        font-size: 10px;    
        margin: 0%;
    }
    
    .homeofferline2{
        font-weight:500;
        font-size: 8px;
    }
    
    .homeofferButton{
        width: 80px;
        height: 20px;
        font-weight: 600;
        font-size: 7.5455px;
        color: #7E4CFE;
        background: #FFFFFF;
        border-radius: 3.27273px;
        border: 0;
    }
    
    .homeofferButton:hover{
        background: #ffffff;
        box-shadow: 0px 10px 29px rgba(0, 0, 0, 0.25);
    }
    
    /* Gradient colour definee */
    
    .blugrd{
        background: linear-gradient(90deg, #04CAF1 61.59%, #6BFEBD 101.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
    }
    
    .ip{
        background: linear-gradient(272.33deg, #31B3EC 1.07%, #4F54DE 96.87%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0%;
       
    }
    
    .gol{
        background: linear-gradient(272.33deg, #F1DC39 1.07%, #CC7609 96.87%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }
    
    .comtxt{
        font-family: 'Archivo';
        font-style: normal;
        font-weight:400;
        font-size: 12px;
        line-height:18.13px;
        /* or 36px */
        color: #A1AFBD;
        margin: 0%;
    }
    
    .pink{
        background: linear-gradient(95.42deg, #B7A1F1 1.21%, #D965C1 52.52%, #EC3E47 96.85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .green{
        background: linear-gradient(273.48deg, #3DD875 16.61%, #0EB3A0 87.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    /* Gradient colour definee */
    
    
    .container1{
        display: block;
        width: 80vw;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    
        justify-content: center;
        align-items: center;
    
    }
    
    .section1{
        width: 100%;
    }
    
    .section2{
        width: 100%;
        padding-left: 0px;
    }
    
    .container1head{
        font-family: 'Archivo';
        font-weight: 700;
        font-size: 32px;
        line-height:38px;
        margin: 0;
    
    }

    .conimg{
        width:80vw ;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .container1sub{
        margin: 0%;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;
        color: #CCDAE7;
    }
    
    .linediv{
        width: 100vw;
        height: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: linear-gradient(270deg, rgba(68, 68, 68, 0) 0%, #444444 48.44%, rgba(68, 68, 68, 0) 100%);
    }
    
    .dicon{
        width: 120px;
    }
    .lovee{
        text-align: center;
        margin: auto;
        width: 90vw;
    }

    .welove{
        width:75%;
        margin: auto;
    }
    
    .service{
        width: 80%;
        height: 130px;
        margin: auto;
        background: url(pic/sert.png), #D9D9D9;
        background-size: cover;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service2{
        width: 80%;
        height: 130px;
        margin: auto;
        background: url(pic/offer.png), #D9D9D9;
        background-size: cover;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .serv{
        width: 90%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        
    }

    .track{
        width: calc(80vw/3);
        height: auto;
    }
    
    .seer{
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .offers{
        margin: 0%;
        text-align: center;
        font-family: 'Archivo';
        text-align: center;
    
    }
    
    .ohed{
        margin: 0%;
        font-weight: 700;
        font-size: 34px;
    }
    
    .osubhed{
        margin: 0%;
        font-weight: 700;
        font-size: 10px;
        color: white;
    }
    
    .footer{
        position: relative;
        height: 170px;
        background-color:#0E0E0F ;
        text-align: center;
        padding: 50px;
        overflow: hidden;
        
    }
    
    .footerimg{
        width: 90px;
    }
    
    .footersm{
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .email{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 8px;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
    
    .ipst{
        position: unset;
        width: 00px;
        height: auto;
        top: 0;
        left: 500px;
        opacity: 20%;
    }

}